/* styles.css */

body {
    font-family: "Jersey 20 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Add more styles as needed */
}

#generateBtn {
    background-color: #007bff;
    color: #fff;
    margin-bottom: 20px;
}

#generateBtn:hover {
    background-color: #5ef782; /* Green background on hover */
    color: #000; /* Black text color on hover */
}

/* Define more styles as needed */

#wordsDisplay {
    border: 2px solid #28a745; /* Green border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin-top: 38px;
    text-align: center; /* Center-align text */
}

    #wordsDisplay p {
    font-weight: bold; /* Bold text */
}
